@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

ul,ol,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: inherit;
}

.last-name{
  font-family: 'Secular One', sans-serif;
  font-size: 50px;
  color: #fff;
  text-shadow: -1px -1px 0 #ff5100, 
    1px -1px 0 #ff5100, 
    -1px 1px 0 #ff5100, 
    1px 1px 0 #ff5100;
  line-height: 1;
}

.first-name{
  font-family: 'Secular One', sans-serif;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 30px;
  color: #ff5100;
}

.profile{
  display: flex;
  gap: 5%;
  padding-bottom: 100px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 100px;
}

.profile .pic{
  margin-bottom: 30px;
}

.profile .pic .wrap{
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.profile .pic .wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .txt li{
  margin-top: 10px;
}

.profile .txt li i{
  width: 22px;
  height: 22px;
  margin-right: 5px;
  overflow: hidden;
  background-color: #454545;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.post .introduce p{
  margin-bottom: 15px;
}

.introduce p:last-of-type{
  margin-bottom: 0;
}

.portfolio p.title{
  font-family: 'Secular One', sans-serif;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 50px;
  color: #ff5100;
}

.portfolio article{
  padding: 30px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 20px;
}

.portfolio article .pic{
  width: 30%;
  overflow: hidden;
  border: 1px solid #ddd;
}

.portfolio article .pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.portfolio article ul li{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.portfolio article ul li:last-of-type{
  margin-bottom: 0;
}

.portfolio article ul li i{
  width: 22px;
  height: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.portfolio article ul li.skills{
  margin-top: 20px;
}

.portfolio article ul li.skills i{
  width: 26px;
  height: 26px;
  overflow: hidden;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.portfolio article ul li img{
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 0 !important;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
}

.portfolio article ul li span{
  width: 26px;
  height: 26px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.fa-react{
  background-color: #61dafb;
}

.redux-saga{
  background-color: #86d46b;
}

.redux-toolkit{
  background-color: #593d88;
}

.fa-sass{
  background-color: #bf4080;
}

.fa-node-js{
  background-color: #84ba64;
}

.mongodb{
  background-color: #011c27;
}

.react-three-fiber{
  background-color: #705df2;
}


@media screen and (max-width: 999px) {
  .profile{
    flex-direction: column;
  }

  .profile .right{
    margin-top: 50px;
  }

  .profile .right ul{
    display: flex;
  }

  .portfolio article{
    flex-direction: column;
  }

  .portfolio article .pic{
    width: 100%;
  }
}